SWIFT_VERSION = 5.0
MACOSX_DEPLOYMENT_TARGET = 14.0
SWIFT_EMIT_LOC_STRINGS = YES

AREA_MATRIX_CORE_SDK_DIR = $(SRCROOT)/../../.build/core-sdk/current
AREA_MATRIX_CARGO_XCODE_TARGET_DIR = $(SRCROOT)/../../.build/cargo/xcode
AREA_MATRIX_CARGO_VALIDATION_TARGET_DIR = $(SRCROOT)/../../.build/cargo/validation
AREA_MATRIX_CARGO_SDK_TARGET_DIR = $(SRCROOT)/../../.build/cargo/sdk
AREA_MATRIX_DERIVED_DATA_DIR = $(SRCROOT)/../../.build/derived-data/macos-tests
AREAMATRIX_CARGO_TARGET_DIR = $(AREA_MATRIX_CARGO_SDK_TARGET_DIR)
